.form-control:focus {
    border-color: #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  }
.form-control.col-md-offset-1 {
    vertical-align: top;
}

.my-progress-bar .CircularProgressbar-trail {
    stroke: rgba(0, 0, 0, 0.2);
  }


.logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    
    
    background: linear-gradient(179.4deg, #FFFFFF 42.01%, #000000 95.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

*{
font-family: 'Roboto Mono', monospace;
}
